
.root {  
    -fx-background-color:Wheat;  
    -fx-alignment:center;  
    -fx-background-radius: 100;  
}  
.label {  
    -fx-font-size:18pt;  
    -fx-font:12pt "Verdana";  
    -fx-padding:10  
}  
.button {  
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-border-radius:20;  
    -fx-font:bold 12pt "Verdana";  
}  
.title {  
    -fx-font:bold 20pt "Verdana";   
    -fx-effect:dropshadow(one-pass-box,GREEN,8,0.0,2,0);  
}  
#smalltext {
    -fx-font: 100px Tahoma;
    -fx-stroke: navy;
    -fx-stroke-width: 1;
}
#fancytext {
    -fx-font: 100px FontAwesome;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: navy;
    -fx-stroke-width: 1;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

/*

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: black;
}*/